# Deep Learning
git+https://github.com/meteofrance/mfai@v5.1.1
lightning==2.5.1
tensorboard==2.16.2
torchmetrics==1.8.2
trl==0.22.0
peft==0.17.1
onnxruntime==1.23.1

# Plots
matplotlib==3.8.4

# Data Science
geopandas==0.14.3
xarray==2025.3.1
einops==0.8.1


# Python
tqdm==4.66.4
