seed_everything: null

data: 
  batch_size: 4
  num_workers: 10
  pct_in_train: 0.75

trainer:
  max_epochs: 10
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: "val_loss"
        filename: "ckpt-{epoch:02d}-{val_loss:.2f}"
        save_weights_only: false
    - class_path: lightning.pytorch.callbacks.ModelSummary
      init_args:
        max_depth: 1
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: val_loss
        mode: min
        patience: 3
  profiler: "pytorch"
  strategy: "auto"
  precision: "16-mixed" 
  enable_progress_bar: true