seed_everything: 666

model:
  model: 
    class_path: mfai.pytorch.models.half_unet.HalfUNet
    init_args:
      in_channels: 3
      out_channels: 1
      input_shape:
        - 512
        - 512
      settings:
        autopad_enabled: true
        num_filters: 16
        use_ghost: false
  segmentation_type: "binary"
  loss:
    class_path: mfai.pytorch.losses.toolbelt.DiceLoss
    init_args:
      mode: "binary"

data:
  batch_size: 32
  num_workers: 10
  pct_in_train: 0.75
  
trainer:
  max_epochs: 4
  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      default_hp_metric: false
      save_dir: logs/
      name: test_mfai_to_del
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: "val_loss"
        filename: "ckpt-{epoch:02d}-{val_loss:.2f}"
        save_weights_only: true
        save_top_k: 1
    - class_path: lightning.pytorch.callbacks.ModelSummary
      init_args:
        max_depth: 1
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: val_loss
        mode: min
        patience: 3